[submodule "cryptokitties"]
	path = cryptokitties
	url = https://github.com/cryptocopycats/awesome-cryptokitties.git
[submodule "centre-tokens"]
	path = centre-tokens
	url = git@github.com:centrehq/centre-tokens.git
[submodule "gemini-dollar"]
	path = gemini-dollar
	url = git@github.com:gemini/dollar.git
[submodule "sushiswap"]
	path = sushiswap
	url = https://github.com/sushiswap/sushiswap.git
